<div class="sidebar_dgeex" role="aside">
  <div class="sidebartext_dgeex">
    <a href="/">
    <img src="/content/images/2015/10/avatar.jpg"/>
    <p class="sidebartitle_dgeex">{{{@blog.title}}}</p>
    <p class="sidebardescription_dgeex">{{{@blog.description}}}</p>
    </a>
    <div class="sidebaricons_dgeex">
      <a href="https://github.com/dgeex"><i class="fa fa-github-alt"></i></a>
      <a href="https://twitter.com/dgeexblog"><i  class="fa my-fa-twitter"></i></a>
      <a href="/rss"><i class="fa my-fa-rss"></i></a>
      <a href="mailto:daniel@dgeex.de"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
</div>


